body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

h1 {
    text-align: center;
    color: rgb(136, 143, 126);
}

form {
    height: fit-content;
    width: 300px;
    background-color: rgba(136, 143, 126, 0.397);
    margin: 0px auto;
    padding-top: 50px;
    border-radius: 4px;
    padding-bottom: 1px;
}

input {
    display: block;
    margin: 0px auto;
    padding: 10px 15px;
    font-size: 16px;
    border: 0;
    outline: none;
    font-family: inherit;
    font-size: 17px;
}

input:focus {
    border: 2px solid rgba(49, 53, 44, 0.555);
    border-radius: 5px;
}

#submit {
    display: block;
    padding: 10px 25px;
    text-transform: capitalize;
    margin-top: 15px;
    color: rgb(87, 92, 81);
    letter-spacing: .5px;
    margin-bottom: 25px;
    /* background-color: green; */
    background-color: rgb(181, 182, 180);
}

#submit:hover, #submit:focus {
    background-color: rgba(136, 143, 126, 0.555);
    color: white;
}


.valid {
    color: rgb(33, 168, 33);
}

.valid:focus {
    border: 2px solid rgb(25, 173, 25);
}

.invalid {
    color: rgb(235, 114, 114);
}

.invalid:focus {
    border: 2px solid rgb(221, 125, 125);
}

/* password */
.passwordhint {
    font-size: 13px;
    text-align: center;
    width: 200px;
    margin: 0px auto;
    color: rgb(233, 77, 77);
}